.counterButton{
    font-size: 30px;
    background-color:#88EE8C;
    width:100px;
    margin:10px;
    color:white;
    padding:15px;
    border-radius:50px;
    border-color:black;
    border-width: 5px;
}

.counterButtonDec{
    font-size: 30px;
    background-color:#d06640;
    width:100px;
    margin:10px;
    color:white;
    padding:15px;
    border-radius:50px;
    border-color:black;
    border-width: 5px;
}

.count{
    font-size: 100px;
    padding: 20px;
}

.resetCount{
    font-size: 40px;
    width:220px;
    border-radius:50px;
    color:white;
    margin:10px;
    border-color:black;
    border-width: 5px;
    background-color:#434fba;
};